head
    //
        Basic Page Needs ==============================
    meta(charset='utf-8')
    title Library Manager
    meta(name='description', content='Storyline Data Capture')
    meta(name='author', content='Liberty Mutual')
    //
        Mobile Specific Metas ==============================
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //
        Fonts ==============================
    link(href="https://fonts.googleapis.com/css?family=Montserrat|Play" rel="stylesheet")
    //
        Bootstrap CSS ====================
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')

    //
        CSS ==============================
    link(rel="stylesheet" href="/static/stylesheets/style.css")
    //
        Bootstrap JS =====================
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
