body#top
        .header
            nav.navbar.navbar-default
                .container-fluid
                    ul.nav.navbar-nav.navbar-left
                        li
                            a(href='#/top')
                                h2 Learning Outcomes Data Capture
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href='/auth/local') Login