extends layout

block content
    .container
        include ./includes/_head_no_nav
        h2.head Please Login
        .form
            form(action='/login', method='get')
                label(for='username') User Name (email)
                input(type='text', name='username')
                label(for='password') Password
                input(type='password', name='password')
                button.btn.btn-link
                    a(href='/process') Login