extends layout

block content
    include ./includes/_nav
    .container
    h2.loginHead Please Login
    form(action='/login', method='post')
    div
        label Username:
        input.username(type='text', name='username')
    span
        label Password:
        input.password(type='password', name='password')
    span
        input.login(type='submit', value='Log In')