body {
  padding: 0 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: darkblue;
}

.navbar-default {
  background-color: lightblue;
}


a {
  color: darkblue;
}

.head {
  margin-top: 15%;
  text-align: center;
}

form {
  margin-top: 2.5em;
}

label {
  margin: 0 .5em 0 2.5em;
}

button {
  margin-left: 2em;
}

.form {
  margin-left: 12.5em;
}

.password {
  margin-left: 5em;
}

.login {
  margin-left: -22em;
}

.users {
  margin-top: 5em;
}